@import url(http://fonts.googleapis.com/css?family=Cabin);
@import "fontello-embedded";

body{
  background: #ccc;
}

body :-webkit-full-screen {
  width: 100%;
  height: 100%;
}

.video_player{
  background-color: #000;
  width: 640px;
  height: 360px;
  overflow: hidden;
  position: relative;
  text-align: center;
  video{
    max-width: 100%;
    height: inherit;
  }
  .video_controls{
    height: 30px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, .75);
    color: #fff;
    .rhs{
      float: right;
      display: inline;
      height: 30px;
    }
    .toggle_fullscreen_button{
      color: #fff;
      font-size: 0.9em;
      height: 30px;
      border: none;
      background: transparent;
      padding: 0 10px;
      cursor: pointer;
      outline: none;
    }
    .volume{
      height: 30px;
      line-height: 34px;
      float: left;
      padding: 0 10px;
      button{
        font-size: 1em;
        background: transparent;
        color: #fff;
        border: none;
        outline: none;
        cursor: pointer;
      }
      .volume_slider{
        cursor: ew-resize;
        max-width: 50px;
        display: none;
      }
      &:hover{
        .volume_slider{
          display: inline-block;
        }
      }
      input[type=range].volume_slider {
        -webkit-appearance: none;
      }
      input[type=range].volume_slider:focus {
        outline: none;
      }
      input[type=range].volume_slider::-webkit-slider-runnable-track {
        width: 100%;
        height: 10px;
        cursor: pointer;
        box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
        background: #cc00ff;
        border-radius: 0px;
        border: 0px solid rgba(0, 0, 0, 0);
      }
      input[type=range].volume_slider::-webkit-slider-thumb {
        box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
        border: 1px solid rgba(0, 0, 0, 0);
        height: 8px;
        width: 5px;
        border-radius: 0px;
        background: #ffffff;
        cursor: pointer;
        -webkit-appearance: none;
        margin-top: 1px;
      }
      input[type=range].volume_slider:focus::-webkit-slider-runnable-track {
        background: #cc00ff;
      }
      input[type=range].volume_slider::-moz-range-track {
        width: 100%;
        height: 10px;
        cursor: pointer;
        box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
        background: #cc00ff;
        border-radius: 0px;
        border: 0px solid rgba(0, 0, 0, 0);
      }
      input[type=range].volume_slider::-moz-range-thumb {
        box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
        border: 1px solid rgba(0, 0, 0, 0);
        height: 8px;
        width: 5px;
        border-radius: 0px;
        background: #ffffff;
        cursor: pointer;
      }
      input[type=range].volume_slider::-ms-track {
        width: 100%;
        height: 10px;
        cursor: pointer;
        background: transparent;
        border-color: transparent;
        color: transparent;
      }
      input[type=range].volume_slider::-ms-fill-lower {
        background: #cc00ff;
        border: 0px solid rgba(0, 0, 0, 0);
        border-radius: 0px;
        box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
      }
      input[type=range].volume_slider::-ms-fill-upper {
        background: #cc00ff;
        border: 0px solid rgba(0, 0, 0, 0);
        border-radius: 0px;
        box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
      }
      input[type=range].volume_slider::-ms-thumb {
        box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
        border: 1px solid rgba(0, 0, 0, 0);
        width: 5px;
        border-radius: 0px;
        background: #ffffff;
        cursor: pointer;
        height: 8px;
      }
      input[type=range].volume_slider:focus::-ms-fill-lower {
        background: #cc00ff;
      }
      input[type=range].volume_slider:focus::-ms-fill-upper {
        background: #cc00ff;
      }
    }
    .time{
      height: 30px;
      float: left;
      font-size: .7em;
      font-family: 'Cabin', sans-serif;
      padding: 0 10px;
      line-height: 30px;
      .total{
        color: #999;
      }
    }
    .progress_bar{
      height: 5px;
      position: absolute;
      left: 0; right: 0;
      bottom: 30px;
      background-color: #333;
      .playback_percent{
        top: 0; bottom: 0;
        position: absolute;
        width: 0%;
        background-color: #c0f;
        z-index: 50;
      }
      .buffer_percent{
        top: 0; bottom: 0;
        position: absolute;
        width: 50%;
        background-color: #666;
        z-index: 40;
      }
    }
    .toggle_playback{
      float: left;
      color: #fff;
      font-size: 1.3em;
      height: 30px;
      border: none;
      background: transparent;
      padding: 0 10px;
      cursor: pointer;
      outline: none;
    }
  }
}
